@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  background-image: url(https://c4.wallpaperflare.com/wallpaper/1021/79/819/windows-7-wallpaper-preview.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100Vh;
  color: #fff;
  font-family: sans-serif;
  font-size: 0.90rem;
  line-height: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0;
  padding-left: 15px;
  padding-top: 10px;
}
  button{
      background-color: #14CDE9;
      border: none;
      border-radius: 2px;
      font-weight: 600;
      letter-spacing: 1px;
      font-family: sans-serif;
      width: 30%;
      height: 35px;
      margin: 0;
      padding: 0;
      position: relative;
      left: 5.5px;
  }
  .box{
    margin-top: 25px;
    width: 450px;
    border-radius: 5px;
  background-color: whitesmoke;
  padding-left: 5px;
  }
  input{
    width: 68%;
    background-color: transparent;
    border: none;
    outline: none;
  }
  p{
    margin-top: 40px;
  }
